# data parameters
data:
  forcing_data_path : 'examples/case_studies/barter_island/database/era5.csv'
  storm_data_path   : 'examples/case_studies/barter_island/database/storms.csv'

# model settings
model:
  longitude         : -143.7  # longitude of the study site
  latitude          : 70.13  # latitude of the study site
  time_start        : '01-07-2015' # DD-MM-YY starting time (if -1 take entire dataset) 	
  time_end          : '01-01-2016'  # DD-MM-YY stopping time (if -1 take entire dataset)	
  timestep          : 1  # size of timesteps (in hours)
  call_xbeach_inter :  168  #  xbeach is called during inter-storm periods every X (wrapper) timesteps (default: 168, i.e. 1 week)
  time_zone_diff    : -8  # [hours] relative difference in hours with respect to UTC. For Alaska equals -8.
  spin_up_time      : 0  # [years] spin up time of the thermal module, during which no morphological update is performed

# wrapper parameters:
wrapper:
  sea_ice_threshold     : 0.85  # Only run xbeach if sea ice fraction is below threshold, otherwise assume all wave action attenuated
  xb_threshold          : 2.0   # [m + MSL] threshold value for total water level + R2% (CHECK THIS)
  CFL_thermal           : 0.5   # maximum CFL for thermal module
  CFL_xbeach            : 0.7   # maximum CFL for XBeach module

# bathymetry parameters
bathymetry:
  xfile           : 'x.grd'   # file used for the grid (x-direction)
  depfile         : 'bed.dep'  # file used for the bed
  grid_orientation: 88.14  # [degrees], orientation of bluff face with respect to east (ccw). The current orientation is calculated in the 'generate_bathymetry.ipynb' notebook
  ppwl            : 40  # number of points in the grid per wavelength. Default 20.
  nx              : 3   # number of points in initial grid. Set to 'None' if this should be based on ppwl.
  with_nx         : False  # whether or not to use the number of points specified with nx

  # schematized bathymetry parameters
  with_schematized_bathymetry : True  # whether or not to generate a schematized bathymetry upon initialization
  bluff_flat_length           : 100  # [m] length of the flat attached to the crest of the bluff
  bluff_height                : 12  # [m] height of the bluff
  bluff_slope                 : 1  # [-] slope of the bluff, i.e., height/width
  beach_width                 : 12.5  # [m] width of the beach
  beach_slope                 : 0.1  # [-] slope of the beach, i.e., height/width
  nearshore_max_depth         : 3  # [m] maximum depth of the nearshore
  nearshore_slope             : 0.03  # [-] slope of the nearshore section, i.e., height/width
  offshore_max_depth          : 5  # [m] maximum offshore depth
  offshore_slope              : 0.007  # [-] slope of the offshore section, i.e., height/width
  continental_flat_width      : 400  # [m] width of the continental flat section
  with_artificial             : True  # whether or not to extend to bathymetry with an artificial depth increase (if required by xbeach)
  artificial_max_depth        : 10  # [m] maximum depth of the artificial section (wave heights in dataset are defined at a depth of 10m, so that value is recommended)
  artificial_slope            : 0.02  # [-] slope of the artificial section, i.e., height/width
  N                           : 100 # number of points of each section
  artificial_flat             : 60  # [m] length of flat section at the end of artificial slope

# xbeach parameters
xbeach:

  # general settings
  with_xbeach : True  # include the xbeach module in the model, default true
  version     : d:\software\XBeach\releases\halloween\XBeach_1.24.6057_Halloween_win64_netcdf\xbeach.exe

  # physical processes:
  with_wind     : False  # include wind in the xbeach model
  with_ne_layer : True  # if True include 'struct' (and thereby ne_layer) in XBeach computation

  # grid settings
  thetamin  : 0  # minimum angle
  thetamax  : 360  # maximum angle
  dtheta    : 360  # bin width
  thetanaut : 1 # for coordinate system

  # hydrodynamics settings
  wbctype : 'jons'   # type of wave boundary condition
  bcfile  : 'jonswap.txt'  # file containing the bc specifications
  rho_sea_water : 1025  # [kg/m3] density (sea) water

  # sediment properties
  dryslp      : 0.6  # [dz/dx] Critical avalanching slope above water (dz/dx and dz/dy) (placeholder)
  wetslp      : 0.1  # [dz/dx] Critical avalanching slope below water (dz/dx and dz/dy) (placeholder)
  D50         : 0.000036  # [m] mean grain size, value from Nando (personal communication)
  rho_solid   : 2650  # [kg/m3] density of sediment particles
  bedfriccoef : 0.02  # [-] bed friction coefficient (placeholder)

  # morphological parameters
  lsgrad : 0.0  # [1/m] Factor to include longshore transport gradient in 1d simulations; dsy/dy=lsgrad*sy; dimension 1/length scale of longshore gradients

  # wave asymmetry factors
  facSk: 0.0  # [-] Calibration factor time averaged flows due to wave skewness. Default is 0.15.
  facAs: 0.0  # [-] Calibration factor time averaged flows due to wave asymmetry. Default is 0.20.
  facua: 0.0  # [-] Calibration factor time averaged flows due to wave skewness and asymmetry. Default is 0.175.

# thermal moodel parameters
thermal:
  L_water_ice: 334000000
  MSL: 0
  N_thaw_threshold: 3
  T_melt: 273.15
  angle_max: 89
  angle_min: -89
  c_soil_frozen: 1917175
  c_soil_unfrozen: 3309495
  delta_angle: 1
  depth_constant_k: 1.401650218762989
  dt: 120
  geothermal_gradient: 0.03395803226662663
  grid_interpolation: linear_interp_z
  grid_resolution: 200
  hc_guess: 500
  k_soil_frozen_max: 2.7364526836777388
  k_soil_frozen_min: 1.5358851275663115
  k_soil_unfrozen_max: 1.4558844314384065
  k_soil_unfrozen_min: 0.9169501454078107
  max_depth: 10
  nb_max: 0.26344543857050207
  nb_max_depth: 0.5
  nb_min: 0.26344543857050207
  nb_min_depth: 1.5
  rho_ice: 917
  rho_particle: 2650
  rho_soil: None
  rho_water: 1000
  surface_flux_angle: 90
  surface_flux_factor: 1
  t_end: '2017-01-01'
  t_start: '2016-01-01'
  with_convective_transport_water_guess: true
  with_latent: true
  with_longwave: true
  with_solar: true
  with_solar_flux_calculator: true

# output
output:
  output_res              : 1  # temporal resolution of output variables in hours (i.e., model outputs given variable names every X hours)
  use_default_output_path : True  # If True, the model creates a subfolder in the same folder as the configuration file, and stores all results there. If False, the output_path variable is used and a subfolder with the run_id is created at this location
  output_path             : "P:/11210070-usgscoop-202324-arcticxb/runs/"  # "P:/11210070-usgscoop-202324-arcticxb/runs/" (absolute path to p-drive)
  save_ground_temp_layers: [0, 0.5, 1.0, 2.0, 2.95]  # [m] depths at which ground temperature is written seperately to csv file
  heat_fluxes: ['total_heat_flux[W/m2]', 'long_wave_radiation_flux[W/m2]', 'solar_radiation_flux[W/m2]', 'latent_heat_flux[W/m2]', 'convective_heat_flux[W/m2]']    # define heat fluxes to be used in memory output

  